.list {
  margin-left: $margin;
  margin-bottom: $vertical-margin;
  list-style-type: square;
  width: auto;

  &-item {
    color: $blue;
    border-bottom: $border-size $border-style $gray;
    width: 7.9rem;
    padding-bottom: 0.1rem;
  }
}
