$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';

$gray: #cbcbcb;
$green: #2dac00;
$blue: #3289d9;
$margin: 10%;

@import 'font-awesome';
@import 'box-sizing';
@import 'reset';
@import 'content-box';
